# Don't create merge conflicts for files that get regenerated when tests are run.
# (You may only benifit from this if you run 'git config --global merge.keep-ours.driver true')
results/tag_*.png merge=keep-ours
results/question_*.png merge=keep-ours
results/models/*/*.html merge=keep-ours
results/models/prompts/*.txt merge=keep-ours
results/models/raw/*.txt merge=keep-ours
results/models/cot/*.txt merge=keep-ours
results/models/*/run_summary.json merge=keep-ours
results/topLevelResults.png merge=keep-ours
results/index.html merge=keep-ours
